.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sitemap.xml
sitemap.xml.gz
*.log

bin
vendor
node_modules
.vagrant
*.map
**/.sass-cache
**/.sass-cache/*

wp-cli.phar
*.dif

code/app/Config/database.php
code/app/Config/core.php
code/app/Config/tmp
