@charset 'UTF-8';
@mixin bg-cover($img, $expanded) {
  background-image: url(../img/#{$img}.#{$expanded});
  background-size: auto 100%;
  background-repeat: repeat-x;
}
@mixin bg-contain($img, $expanded) {
  background-image: url(../img/#{$img}.#{$expanded});
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin color-image($img, $expanded) {
  background-image: url(../img/#{$img}.#{$expanded});
  background-repeat: no-repeat;
  background-position: left center;
}
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
